header {
  line-height: 10px;
  display: flex;
  height: 30vh;
  background-color: rgb(9, 11, 11);
  color: white;
  justify-content: left;
  align-items: left;
  padding: 5vh 5vw;
}

.bio {
  font-family: 'Roboto Slab', serif;
}

.bio h3 {
  text-align: center;
  width: 180vh;
}

.fcontainer {
  display: block;
  text-align: center;
}

#pic {
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  border: 1px white;
  margin: 0 auto;
  display: grid;
  align-items: flex-start;
  position: relative;
  right: 10px;
  top: 10px;

}

.project {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: gray;
  padding: 10vh 3vw;

}

.flex-items {
  padding: 2px;
  margin-bottom: 3px;
  width: 50ch;
  height: 20ch;
  border: 3px solid black;
  background-color: rgb(177, 198, 185);
}

.flex-items h3 {
  text-align: center;
}

.flex-items p {
  color: rgb(51, 51, 51);
  text-align: justify;
  line-height: 32px;
  font-size: 18px;
  background-color: white;

}

.flex-items button {
  background-color: white;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 4px;
  text-decoration: dashed;
  text-align: center;
}

.flex-items button:hover {
  color: rgb(238, 16, 238);
  background-color: yellow;

}



.dropdown-content a {
  font-size: 20px;
  color: #42b4d6;
  padding: 12px 16px;
  text-decoration: none;
  display: flexbox;
  text-align: right;
  row-gap: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: grid;
}


a {
  color: #42b4d6;
  text-decoration: none;
  font-size: 160%;
}

a:hover {
  text-decoration: underline;
}

.exp {
  padding: 20px;
}
.expert{
  background-color: white;
}
.expert h3 {
  text-align: left;
}

.expert li {
  list-style-type: square;
}

.navbar {
  background-color: black;
}

.navbar ul {
  overflow: auto;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;

}

.navbar li a {
  padding: 30px 30px;
  text-decoration: none;
  color: white;
}

.exp {
  border: 3px solid black;
  background-color: gray;
}

p {
  font-family: 'Roboto Slab', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width:767px) {
  header {
    background-color: green;
  }

  .flex-container {
    display: block;
    text-align: center;
  }

  .flex-items {
    margin: 0px auto;
  }
}
@media (min-width:768px) and (max-width: 991px) {
  header {
    background-color: yellow;
  }

  .flex-container {
    display: flex;
    text-align: center;
  }

  .flex-items {
    margin: 0px auto;
  }
}
@media (min-width:992px) {
  header {
    background-color: black;
  }

  .flex-container {
    display: flex;
    text-align: center;
  }

  .flex-items {
    margin: 0px auto;
  }
}
